# Dépendances
node_modules/
.pnpm-store/

# Build
.next/
out/
dist/
build/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Tests
coverage/
playwright-report/
test-results/

# Divers
*.tsbuildinfo
.next-env.d.ts
